" Function as a whitelist
*

!.gitignore
!.gitconfig_common

!.gvimrc
!.vimrc
!.vim/
!.vim/plugins.vim
!.vim/plugins.config/
!.vim/plugins.config/*
!.vim/ftdetect/
!.vim/ftdetect/*
!.vim/after/
!.vim/after/**
!.vim/colors/
!.vim/colors/*

!.zshrc
!.zsh/
!.zsh/grml-arch.zsh
!.zsh/plugins.zsh
!.zsh/plugins.config/
!.zsh/plugins.config/*

!VsDevEnv.ps1
!.gdbinit
!.screenrc

!gits/
!gits/*
!bin/
!bin/*
